<h4>Formularios <small>data</small></h4>

<hr>

<form [formGroup]='forma' (ngSubmit)="guardarCambios()">

    <div formGroupName="nombreCompleto">
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [ngClass]="{'is-valid': forma.get('nombreCompleto.nombre').valid, 'is-invalid': forma.get('nombreCompleto.nombre').touched && !forma.get('nombreCompleto.nombre').valid }">
                <div class="form-control-feedback  invalid-feedback" *ngIf="forma.get('nombreCompleto.nombre').hasError('required')">
                    El nombre es nesesario
                </div>
                <div class="form-control-feedback invalid-feedback" *ngIf="forma.get('nombreCompleto.nombre').hasError('minlength')">
                    El campo debe de tener minimo 5 caracteres
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido" [ngClass]="{'is-valid': forma.get('nombreCompleto.apellido').valid, 'is-invalid': forma.get('nombreCompleto.apellido').touched && !forma.get('nombreCompleto.apellido').valid }">

                <div class="form-control-feedback invalid-feedback" *ngIf="forma.get('nombreCompleto.apellido').hasError('required')">
                    El apellido es nesesario
                </div>
                <div class="form-control-feedback invalid-feedback" *ngIf="forma.get('nombreCompleto.apellido').hasError('minlength')">
                    El campo debe de tener minimo 5 caracteres
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="email" [ngClass]="{'is-valid': forma.get('email').valid, 'is-invalid': forma.get('email').touched && !forma.get('email').valid }">

            <div class="form-control-feedback invalid-feedback" *ngIf="forma.get('email').touched && forma.get('email').hasError('required')">
                El email es nesesario
            </div>

            <div class="form-control-feedback invalid-feedback" *ngIf="forma.get('email').touched && forma.get('email').hasError('pattern')">
                Debes de introducir un correo electronico
            </div>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Username</label>
        <div class="col-md-8">

            <input class="form-control" type="text" placeholder="Username" formControlName="username" [ngClass]="{'is-valid': forma.get('username').valid, 'is-invalid': forma.get('username').touched && !forma.get('username').valid }">

            <div class="form-control-feedback invalid-feedback" *ngIf="forma.get('username').touched && forma.get('username').hasError('required')">
                El Username es nesesario
            </div>

            <div class="form-control-feedback invalid-feedback" *ngIf="forma.get('username').touched && forma.get('username').hasError('existe')">
                El usuario ya existe!!!!
            </div>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-md-8">

            <input class="form-control" type="password" formControlName="password1" [ngClass]="{'is-valid': forma.get('password1').valid, 'is-invalid': forma.get('password1').touched && !forma.get('password1').valid }">

            <div class="form-control-feedback invalid-feedback" *ngIf="forma.get('password1').touched && forma.get('password1').hasError('required')">
                El password es nesesario
            </div>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">confirmar Password </label>
        <div class="col-md-8">

            <input class="form-control" type="password" formControlName="password2" [ngClass]="{'is-valid': forma.get('password2').valid, 'is-invalid': forma.get('password2').touched && !forma.get('password2').valid }">

            <div class="form-control-feedback invalid-feedback" *ngIf="forma.get('password2').touched && forma.get('password2').hasError('required')">
                La confimacion es nesesario
            </div>

            <div class="form-control-feedback invalid-feedback" *ngIf="forma.get('password2').touched && forma.get('password2').hasError('noiguales')">
                El password no es igual
            </div>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pasatiempos</label>

        <div class="col-md-8" formArrayName="pasatiempos">

            <!-- {{ forma.get('pasatiempos')['controls'] }} -->

            <input *ngFor="let p of forma.get('pasatiempos')['controls']; let i = index" [formControlName]="i" class="form-control mt-2" type="text">
            <button type="button" (click)="agregarPasatiempo()" class="btn btn-primary mt-2">Nuevo</button>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
                Guardar
            </button>
        </div>
    </div>

</form>

<pre>Valid: {{ forma.valid }}</pre>
<pre>Status: {{ forma.status }}</pre>

<!--
<pre>{{ forma.value | json }}</pre>
-->